# Ignore everything and selectively allow files
*

!.envrc
!.gitignore
!.github/renovate.json
!.github/workflows/*.yml
!.zed/settings.json
!CODE_OF_CONDUCT.md
!CODEOWNERS
!flake.lock
!flake.nix
!install.sh
!LICENSE
!README.md
!scripts/*.awk
!test/*.bats
!test/live/*.bats
!test/stubs/*

# Recurse through sub-directories applying the same patterns
!*/
